@media only screen and (max-width: 1200px){
    .sec1-content,.sec2-content,.sec3-content,.sec5-content,.sec6-content,.sec7-content,.sec8-content,.sec9-content,.sec10-content{
        width: 80%;
    }
    .sec1,.sec2,.sec3,.sec4,.sec5,.sec6,.sec7,.sec8,.sec9,.sec10{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    /*section 1*/
    .sec1-content{
        margin-top: 300px;
    }
    .sec1-content h2{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .sec1-content p{
        font-size: 28px;
    }
    #email{
        width: 300px;
        padding-left: 10px;
    }
    /*section 2*/
    .sec2-box p{
        margin-top: 8px;
        font-size: 22px;
    }
    .sec2-box{
        margin: 15px;
    }
    /*section 3*/
    .sec3-box h2,.sec3-box h3{
        margin-bottom: 12px;
    }
    .sec3-box h2{
        font-size: 40px;
    }
    .sec3-box h3{
        font-size: 22px;
    }
    .sec3-box p{
        font-size: 20px;
    }
    .sec3-box-child{
        margin-top: 50px;
    }
    .sec3-box-grandchildren{
        padding: 12px;
    }
    .sec3-box img{
        width: 95%;
        height: 50%;
    }
    /*section 4*/
    .sec4-content{
        width: 95%;
    }
    .sec4-box h3{
        font-size: 25px;
    }
    .sec4-header h3{
        font-size: 25px;
    }
    .sec4-header h1{
        font-size: 50px;
        width: 50%;
        margin: auto;
    }
    /*section 5*/
    .sec5-box h2{
        font-size: 40px;
    }
    .sec5-box p{
        font-size: 20px;
    }
    .sec5-box img{
        width: 100%;
        height: 100%;
    }
    /*section 6*/
    .sec6-box{
        width: 25%;
        height: fit-content;
        padding: 10px;
    }
    .sec6-box h2{
        font-size: 60px;
    }
    .sec6-box p{
        font-size: 30px;
    }
    /*section 8*/
    .sec8{
        margin-top: 50px;
    }
    .sec8-box h2{
        font-size: 30px;
        margin-top: 5px;
    }
    .sec8-box p{
        font-size: 18px;
        margin-top:10px
    }
    .sec8-box:first-child{
        padding: 10px;
    }
    .sec8-box img{
        height: 100%;
    }
    .sec8-box button{
        width: 100px;
        height: 40px;
        font-size: 12px;
        margin-top: 10px;
    }
    /*section 9*/
    .sec9-heading h3{
        font-size: 25px;
    }
    .sec9-heading h2{
        font-size: 40px;
        width: 50%;
    }
    .sec9-icon-box{
        padding: 15px;
    }
    .sec9-box h2{
        font-size: 50px;
    }
    .sec9-box h3{
        font-size: 25px;
    }
    .sec9-box p{
        font-size: 22px;
    }
    footer{
        padding: 15px;
        font-size: 25px;
    }
}

@media only screen and (max-width: 800px){
    .sec1-content,.sec2-content,.sec3-content,.sec5-content,.sec6-content,.sec7-content,.sec8-content,.sec9-content,.sec10-content{
        width: 90%;
    }
    .sec1,.sec2,.sec3,.sec4,.sec5,.sec6,.sec7,.sec8,.sec9,.sec10{
        padding-top: 30px;
        padding-bottom: 30px;
    }  
    /*section 1*/
    .sec1{
        height: 600px;
    }
    .sec1-content{
        margin-top: 200px;
    }
    .sec1-content h2{
        font-size: 35px;
        margin-bottom: 15px;
    }
    .sec1-content p{
        font-size: 22px;
    }
    #email{
        width: 250px;
    }
    /*section 2*/
    .sec2-content{
        display: flex;
        flex-wrap: wrap;
    }
    .sec2-box{
        width: 40%;
        margin: 5%;
    }
    .border{
        width: 100%;
    }
    /*section 3*/
    .sec3-box h2,.sec3-box h3{
        margin-bottom: 10px;
    }
    .sec3-box h2{
        font-size: 35px;
    }
    .sec3-box h3{
        font-size: 20px;
    }
    .sec3-box p{
        font-size: 18px;
    }
    .sec3-box-child{
        margin-top: 20px;
    }
    .sec3-box-grandchildren{
        padding: 10px;
    }
    /*section 4*/
    .sec4-content{
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        margin-top: 15px;
    }
    .sec4-box{
        width:40%;
        margin: 5%;
    }
    .sec4-box p{
        font-size: 20px;
    }
    .sec4-header h1{
        font-size: 40px;
    }
    /*section 5*/
    .sec5-box h2{
        font-size: 30px;
    }
    .sec5-box p{
        font-size: 18px;
    }
    /*section 6*/
    .sec6-box{
        padding: 10px;
    }
    .sec6-box h2{
        font-size: 50px;
    }
    .sec6-box p{
        font-size: 25px;
    }
    /*section 7*/
    .sec7-box{
        width: 32%;
    }
    .sec7-box p{
        font-size: 20px;
    }
    .sec7-box i,.sec8-box i{
        font-size: 22px;
    }
    /*section 9*/
    .sec9-heading h3{
        font-size: 22px;
    }
    .sec9-heading h2{
        font-size: 35px;
        width: 50%;
    }
    .sec9-box{
        width: 32%;
    }
    .sec9-icon-box{
        padding: 12px;
    }
    .sec9-box h2{
        font-size: 40px;
    }
    .sec9-box h3{
        font-size: 22px;
    }
    .sec9-box p{
        font-size: 20px;
    }
    /*section 10*/
    .sec10-box h2{
        font-size: 35px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .sec10-box p{
        font-size: 22px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #formH2{
      font-size: 25px;
      margin-top: 8px;
      margin-bottom: 8px;
    }
    .contactUs{
        font-size: 22px;
    }
    #form{
        border-radius: 20px;
        padding: 25px;
    }
    #form label{
        font-size: 18px;
    }
    #textarea{
        max-width: 100%;
        min-width: 100%;
        max-height: 180px;
        min-height: 180px;
    }
    #textarea,#name{
        padding:10px;
        font-size: 18px;
        margin-bottom: 10px;
    }
    #button{
        width: 100px;
        height: 30px;
        border-radius: 20px;
        font-size: 20px;
    }
    .bullet{
        margin-right: 8px;
    }
    .bullet,ul li{
        font-size: 20px;
    }
    .supNum{
        margin-top: 18px;
        font-size: 25px;
    }
    #name{
        width: 100%;
    }
    footer{
        padding: 12px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px){
    .sec1-content,.sec2-content,.sec3-content,.sec5-content,.sec6-content,.sec7-content,.sec8-content,.sec9-content,.sec10-content{
        width: 95%;
    }
    .sec1,.sec2,.sec3,.sec4,.sec5,.sec7,.sec8,.sec9,.sec10{
        padding-top: 15px;
        padding-bottom: 15px;
    }  
    /*section 1*/
    .sec1{
        height: 400px;
    }
    .sec1-content{
        margin-top: 80px;
    }
    .sec1-content h2{
        font-size: 20px;
        margin-bottom: 8px;
    }
    .sec1-content p{
        font-size: 18px;
    }
    #email{
        width: 120px;
    }
    /*section 2*/
    .sec2-content{
        display: block;
    }
    .sec2-box{
        width: 90%;
        margin: auto;
    }
    /*section 3*/
    .sec3-content{
        display: block;
    }
    .sec3-box{
        width: 90%;
        margin: auto;
    }
    /*section 4*/
    .sec4-content{
        display: block;
    }
    .sec4-box{
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }
    .sec4-header h3{
        font-size: 22px;
    }
    .sec4-header h1{
        font-size: 30px;
    }
     /*section 5, 7, 8, 9*/
    .sec5-content,.sec7-content,.sec8-content,.sec9-content,.sec10-content{
       display: block;
    }
    .sec5-box,.sec8-box,.sec9-box,.sec10-box{
        width: 90%;
        margin: auto;
    }
    .sec9-box{
        margin-bottom: 10px;
    }
    .sec7-box{
        width: 90%;
        margin: auto;
        margin-bottom: 70px;
    }
    /*section 6*/
    .sec6-content{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .sec6-box{
        padding: 5px;
        width: 40%;
        margin: auto;
    }
    .sec6-box h2{
        font-size: 25px;
    }
    .sec6-box p{
        font-size: 18px;
    }
}